.Footer {
  display: grid;
  align-content: center;
  justify-items: center;
  padding: var(--spacing-tight);
  min-height: var(--footer-height);
  background-color: var(--color-brand);

  @media (min-width: 768px) {
    grid-template-columns: auto auto;
    justify-items: unset;
    padding: var(--spacing-loose);
  }
}

.socialLinks {
}

.Children p {
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

.SocialList {
  display: flex;
  gap: var(--spacing-tight);
  margin-top: var(--spacing-loose);

  @media (min-width: 768px) {
    justify-content: end;
    margin-top: 0;
  }
}

.SocialItem {
  flex: 0 0 auto;
}

.SocialIcon {
  color: var(--color-text);
}
